# Use 'openssl rand -base64 48' in a shell to create bearer tokens. Check the README.

HOME_ASSISTANT_WEATHER_TOKEN=dev-ha-token
INTERVALS_API_KEY_ME=replace-with-me-api-key
INTERVALS_API_KEY_PARTNER=replace-with-partner-api-key
HOME_ASSISTANT_WELLNESS_ENDPOINT_TOKEN=dev-wellness-token
